/* This is a css comment*/

body {color: dimgrey;
      font-family: 'Cabin', sans-serif;
}

h1 {color: steelblue;
  font-size: 64px;
  font-weight: "bold";
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h2 {color: darkgreen;
    text-align: center;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;;
}



p{font-size: 16px
}

img {max-width: 600px;
     max-height: auto;
     display: block;
}
